* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: gilroy;
    src: url(./fonts-figz/gilroy-regular.ttf);
}
@font-face {
    font-family: gilroy-bold;
    src: url(./fonts-figz/gilroy-bold.ttf);
}

.success,
.error {
    text-align: center;
}

.success {
    color: greenyellow;
}


:root {
    font-size: 62.5%;

    font-family: gilroy, sans-serif;
    
    --base-color: #000;
    --surface-color: hsla(0, 0%, 100%, 0.007);
    --surface-color-menu-active: hsla(0, 0%, 13%, 0.204);
    --header-height: 5rem;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin-left: 2rem;
    margin-right: 2rem;
}

/* ANOTAÇÕES 

Trocar a fonte do botao do idioma

*/

body, #app-form, textarea, .input, .label, .button, .container{
    font-family: gilroy, sans-serif;
    display: flex;
    flex-direction: column;
}

.section {
    padding: calc(5rem + var(--header-height)) 0;
}

/* NAVIGATION */

.button, .language-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: gilroy, sans-serif;
}

#header {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    padding: 0 2rem;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    background-color: var(--surface-color);
    backdrop-filter: blur(0.6rem);
    -webkit-backdrop-filter: blur(2.4rem);
}

#header.scroll {
    transition: 0.2s;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

#header nav {
    width: 100%;
    height: var(--header-height);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav ul li .nav{
    font-size: 2rem;
    width: 100%;

    display: flex;
}

header .logo {
    width: 15rem;
}

nav ul li {
    text-align: center;
    list-style: none;
}

nav ul li a {
    color: #000;
    display: flex;
    transition: 0.2s;
    position: relative;
    text-decoration: none;
    justify-content: center;
    
}

nav ul li a:hover, 
nav ul li a.active {
    color: #000;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 1px;
    background: #000;

    position: absolute;
    left: 0;
    bottom: -.5rem;

    transition: width 0.2s;
}

nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: all 0.2s;
    
}

nav ul li a:hover::after,
nav ul li a.active::after {
width: 100%;
}

nav .menu ul {
    display: none;

}

/* Mostrar menu */
nav.show .menu {
    
    display: flex;
    opacity: 1;
    visibility: visible;

    background-color: #fff;
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    place-content: center;
    
}

nav.show .menu ul {
    display: grid;
}

nav.show ul.grid {
    gap: 4rem;
}

.toggle {
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
}

nav .icon-close {
    visibility: visible;
    opacity: 0;

    position: absolute;
    top: -2.5rem;
    right: 4rem;

    transition: 0.2s;
}

.icon-menu, .icon-close {
    font-size: 3rem;
    display: flex;
    align-items: center;
}

nav.show div.icon-close {
    visibility: visible;
    opacity: 1;
    top: 1.5rem
}

#header button {
    left: 0;
    background-color: #ffffff;
    color: #000000;
    font-size: 2rem;
    width: 100%;
    border: none;
    gap: 1rem;

    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

#header button img {
    width: 2.5rem;
}

/* FORMULARIO */

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 4rem;
}

#form .container {
    width: 100%;
    gap: 5rem;
}

#form .texts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#form form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#form .title {
    font-size: 3rem;
    font-family: gilroy-bold, sans-serif;
}

#form .text {
    font-size: clamp(2rem, 3vw, 3rem);
    display: flex;
    gap: 1rem;
    align-items: center;
}

#form .subtext {
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-family: gilroy, sans-serif;
    align-items: center;
} 

#form .label {
    font-size: 1.5rem;
}

#form .quest {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#form .input, textarea {
    font-size: clamp(1.5rem, 3vw, 3rem);
    color: #6e6d6d;

    padding: 1.6rem;
    height: 5rem;

    background: #D9D9D9;
    border: none;
}

#form .input {
    min-height: 5rem;
    height: auto;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 20px; /* Adicione espaço para sua própria seta personalizada */
    background: url('caminho/para/sua/seta.png') no-repeat right center;
}

/* #form .quest .option {
    display: flex;
    border: 4px solid black;

} */

#form .quest select {
    display: flex;

    border: 3px solid #D9D9D9;
}

textarea {
    height: 17rem;
    resize: vertical;

}

#form .content-button {
    max-width: 15rem;
}

#form button {
    background-color: #000;
    color: #fff;
    font-size: 2rem;

    padding: 3rem;

    width: auto;
    height: 6.2rem;
    
    border: none;

    display: flex;
    gap: 1rem;
    /* justify-content: space-between; */

    cursor: pointer;
    font-family: gilroy-bold, sans-serif;
}

#form button:disabled {
    cursor: not-allowed;
}

#form button img {
    width: 1.3rem;
}

/* BACK-TO-TOP */

.back-to-top {
    background-color: var(--base-color);
    color: #ffffff;
    text-decoration: none;

    position: fixed; 
    right: 2rem;
    bottom: 2rem;
    z-index: 10;

    padding: 0.5rem;
    clip-path: circle();

    font-size: 3rem;
    line-height: 0;

    visibility: hidden;
    opacity: 0;

    transition: all 0.3s ease-in-out;
    transform: translateY(100%);
}

.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.back-to-top:hover {
    transform: scale(1.2);
}


/* FOOTER */

#footer{
    color: #fff;
    font-size: 1.8rem;

    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;

    background-color: #000;
}

#footer .footer, .footer-text {
    margin: 0 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer  ul .footer a {
    display: flex;
    color: #fff;

    right: 0;
    bottom: 0;

    list-style: none;
    text-decoration: none;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        padding: 10rem 0;
    }

    .button {
        height: 3.125rem;
    }

    /* navigation */
    nav .menu {
        opacity: 1;
        visibility: visible;
        top: 0;
    }

    nav .menu ul {
        display: flex;
        gap: 2rem;
    }

    nav .menu ul li a.title {
        font: 400 1rem var(--body-font);
        -webkit-font-smoothing: antialiased;
    }

    nav .menu ul li a.title.active {
        font-weight: bold;
        -webkit-font-smoothing: auto;
    }

    nav .icon-menu {
        display: none;
    }


    #header {
        height: 8rem;
        align-items: center;
    }

    #header nav .menu ul li .nav {
        font-size: 1.5rem;
    }
    #header nav ul{
        align-items: center;
        gap: 5.3rem
    }

    #header button {
        font-size: 1.5rem;
        background: none;
        gap: .5rem;
    }

    #header button img {
        width: 1.5rem;
    }

    #header button .arrow {
        width: 1.8rem;
    }

    /* FORMULARIO */

    #form {
        padding: 5rem 0 10rem 0;

    }

    #form .container{
        margin-top: 10rem;
        display: flex;
        flex-direction: row;
    }

    #form .texts {
        width: 100%;
    }

    #form .title {
        font-size: 6.2rem;
    }

    #form .text {
        font-size: 2rem;
        width: 100%;
    }

    #form .subtext, #form .input, textarea {
        font-size: 1.4rem;
    }

    #form textarea {
        min-height: 17rem;
        resize: vertical;
    }

    #form form {
        width: 100%;
    }

    #form button {
        font-size: 2.3rem;
        gap: 1rem;
        width: 20rem;
        align-items: center;
        justify-content: center;
    }

    #form button img {
        width: 1.6rem;
    }

    /* FOOTER */

    #footer {
        display: flex;
        flex-direction: row;
        gap: 55rem;
        align-items: center;
    }

    #footer ul {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .success,
    .error {
        text-align: center;
        font-size: 6rem;
    }

    .success {
        color: greenyellow;
    }
}

