
@media (min-width: 767px) {

    html {
        scroll-behavior: smooth;
        transition: all .3s;
        overflow-x: hidden;
    }

    .container {
        max-width: 100%;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .section {
        padding: 10rem 0;
    }
    
    #main {
        width: 100%;
    }
    
    .section {
        padding: calc(5rem + var(--header-height)) 0;
    }

    .button {
        height: 3.125rem;
    }

    /* navigation */
    nav .menu {
        opacity: 1;
        visibility: visible;
        top: 0;
    }

    nav .menu ul {
        display: flex;
        gap: 2rem;
    }

    nav .menu ul li a.title {
        font: 400 1rem var(--body-font);
        -webkit-font-smoothing: antialiased;
    }

    nav .menu ul li a.title.active {
        font-weight: bold;
        -webkit-font-smoothing: auto;
    }

    nav .icon-menu {
        display: none;
    }

    header .logo {
        width: 20rem;
        transition: all 1s;
        margin-right: 20rem;
        margin-left: 0rem;
    }

    #header {
        height: 8rem;
        align-items: center;
    }

    #header nav .menu ul li .nav {
        font-size: 1.5rem;
    }

    #header nav ul{
        align-items: center;
        gap: 1rem;
    }



    #header button {
        /* font-size: 1.5rem; */
        background: none;
        gap: .5rem;
    }

    #header button img {
        /* width: 1.5rem; */
    }

    #header button .arrow {
        /* width: 1.8rem; */
    }

    /* FIRST */

    #first .first-content {
        display: grid;
        grid-template-areas: 
        'A B';
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }

    #first .title {
        /* font-size: 4rem; */
    }

    #first img {
        width: 100%;
    }

    /* SECOND */

    #second .second-content {
        display: grid;
        grid-template-areas: 
        'A B';
        justify-content: center;
        align-items: center;
    }

    #second img {
        width: 100%;

    }

    #second .client-projects {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #second .subtitle {
        font-size: 2rem;
    }

    /* THIRD */

    #third .third-content {
        display: grid;
        grid-template-areas: 
        'A B';
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    #third img {
        width: 100%;
    }

    #third .text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #third .text h1 {
        font-size: 4rem;
        font-family: gilroy-bold, 'sans-serif';
    }

    #third .text h2 {
        font-size: 1.5rem;
        font-weight: 400;
        width: 30rem;
    }

    #third .text p {
        font-size: 1rem;
        font-weight: 400;
    }

    /* FOURTH */

    .construction {
        display: grid;
        grid-template-areas: 
        "A B";
        gap: 5.8rem;
        font-size: 2rem;
    }

    
    
    #fourth .title-line {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        font-size: 5rem;
        /* width: 100%; */
        /* gap: 20rem; */
        margin-bottom: 6.7rem;
    }

    #fourth .title {
        font-size: 5rem;
    }

    #fourth h2 {
        font-size: 2rem;
    }

    #fourth p {
        font-size: 2rem;
        font-weight: 400;
    }

    #fourth .line {
        /* position: absolute; */
        width: 100%;
        /* margin-left: 55rem; */
    }

    /* FIFTH */

    #fifth .title {
        font-size: 5rem;
    }

    #fifth .paragraph {
        font-size: 2rem;
        margin-left: 4.2rem;
    }

    /* SIXTH */


    #sixth {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #sixth .word {
        font-size: 5rem;
    }

    /* FOOTER */

    #footer {
        display: flex;
        flex-direction: row;
        gap: 48rem;
        align-items: center;
    }

    #footer ul {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    /* TROCA DE IDIOMA */

    .language-selector {
        position: relative;
        display: flex;
        align-items: center;
        width: auto;
    }

    #language-select {
        padding: .5rem;
        font-size: 1.5rem;
        background-color: none;
        color: var(--base-color);
        border: none;
        width: auto;
        cursor: pointer;
        font-family: gilroy, sans-serif;
        transition: all .3s;
    }
    
    #language-select:focus {
        outline: none;
    }

    #language-select option {
        font-size: 1.5rem;
    }

    .fade-in {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    
    .fade-out {
        opacity: 0;
    }
    

    /* switch */
    #switch {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        background:   var(--switch-bg-url) no-repeat center;
    

        border-radius: 50%;
    
        animation: topdown 2s;
        transition: all .5s;
    }
    
    #switch button {
        width: 3.2rem;
        height: 3.2rem;
        border: 0;
    
        top: 50%;
        right: 0;
        z-index: 1;
        transition: outline 0.2s, background 0.5s;
    
        animation: slide-back 0.2s;
    }
    
    .dark #switch button {
        animation: slide-in 0.2s forwards;
    }
    
    #switch button:hover {
        outline: 0.8rem solid var(--highlight-color);
    }
    
    #switch span {
        display: none;
        margin: 0;
        background: var(--surface-color);
        border: 1rem solid var(--base-color);
        backdrop-filter: blur(0.4rem);
        -webkit-backdrop-filter: blur(0.4rem);
    }
    
}